.rmpSlideinWrapper {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9999;
  max-width: 320px;
  width: 90%;
  max-height: 300px;
}

.rmpSlideinContainer {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rmpSlidein-left {
  left: 0;
}

.rmpSlidein-right {
  right: 0;
}

.rmpSlideinContent {
  position: relative;
  width: 100%;
}

.rmpSlideinCloseBtn {
  position: absolute;
  top: 8px;
  right: 8px;
  border: none;
  background: transparent;
  font-size: 1.25rem;
  cursor: pointer;
  color: #444;
}

.rmpSlidein-left .rmpSlideinCloseBtn {
  left: auto;
}

.rmpSlidein-right .rmpSlideinCloseBtn {
  left: 8px;
  right: auto;
}

@media (max-width: 640px) {
  .rmpSlidein-left,
  .rmpSlidein-right {
    width: 100%;
    max-width: none;
  }

}
