.content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.scrolled {
  position: relative;
  top: auto;
  transform: translateY(0);
}

.centerContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.showMeBtn {
  background-color: black;
  border: 2px solid black;
  color: white;
  padding: 8px 14px;
  font-size: 20px;
}

.container {
  width: 100%;
  height: 400px;
  position: relative;
}
