.rmpOverlay {
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;
  background: rgba(0,0,0,0.5);
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.rmpPopoutWrapper {

}

.rmpContent {
  position: relative;
  max-width: 520px;
  width: calc(100% - 40px);
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 24px 48px rgba(0,0,0,0.3);
}

.rmpClose {
  position: absolute;
  top: 8px;
  right: 10px;
  border: 0;
  background: transparent;
  font-size: 24px;
  cursor: pointer;
}
