.rmpBanner {
  position: fixed;
  z-index: 9999;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transition-property: all;
  width: 100%;
}

.rmpBanner-top {
  left: 0;
  right: 0;
  top: 0;
}

.rmpBanner-bottom {
  left: 0;
  right: 0;
  bottom: 0;
}

.rmpBanner-left {
  top: 0;
  bottom: 0;
  left: 0;
  width: 90%;
  max-width: 320px;
}

.rmpBanner-right {
  top: 0;
  bottom: 0;
  right: 0;
  width: 90%;
  max-width: 320px;
}

.rmpBannerContent {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  height: 100%;
}

.rmpBannerCloseBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 8px;
  border: none;
  background: transparent;
  font-size: 1.25rem;
  cursor: pointer;
  color: #444;
}

.rmpBanner-left .rmpBannerCloseBtn {
  top: 8px;
  transform: translateY(0);
  right: 8px;
  left: auto;
}

.rmpBanner-right .rmpBannerCloseBtn {
  top: 8px;
  transform: translateY(0);
  left: 8px;
  right: auto;
}